@import "tailwindcss";

@font-face {
  font-family: 'founders';
  src: url('./assets/fonts/FoundersGrotesk-Semibold.woff2') format('woff2');
}
@font-face {
  font-family: 'neue';
  src: url('./assets/fonts/NeueMontreal-Regular.woff2') format('woff2' );
}
@font-face {
  font-family: 'nb';
  src: url('./assets/fonts/NBInternationalProBoo.woff2') format('woff2' );
}
@font-face {
  font-family: 'rejouice';
  src: url('./assets/fonts/Rejouice-Headline.woff2') format('woff2' );
}


@theme {
  --font-nb: 'nb', sans-serif;
  --font-neue: 'nb', sans-serif;
  --font-founders: 'founders', sans-serif;
  --font-rejouice: 'rejouice', sans-serif;
}

.clip-custom-shape {
  clip-path: polygon(60% 8%, 66% 0, 100% 0, 100% 100%, 0 100%, 0 8%);
}
